##############################################################################
# Clock  
##############################################################################
NET "CLK_50M"       LOC = "E12"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.000 ;


##############################################################################
# Directional Push-Buttons (BTN)
##############################################################################
NET "BTN_NORTH"     LOC = "T14"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_SOUTH"     LOC = "T15"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_WEST"      LOC = "U15"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
#
##############################################################################
# Mechanical Switches (SW)
##############################################################################

NET "SW<0>"         LOC = "V8"   | IOSTANDARD = LVCMOS33 ;
NET "SW<1>"         LOC = "U10"  | IOSTANDARD = LVCMOS33 ;
NET "SW<2>"         LOC = "U8"   | IOSTANDARD = LVCMOS33 ;
NET "SW<3>"         LOC = "T9"   | IOSTANDARD = LVCMOS33 ;

##############################################################################
# Mouse and/or Keyboard Connector (PS2)
##############################################################################
# Primary connection, simply plug device into connector.
NET "PS2_CLK1"      LOC = "W12"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "PS2_DATA1"     LOC = "V11"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#
# Secondary connection, use requires a splitter cable.
NET "PS2_CLK2"      LOC = "U11"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "PS2_DATA2"     LOC = "Y12"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
##############################################################################
# Serial Ports (RS232)
##############################################################################
NET "RS232_DCE_RXD" LOC = "E16"  |IOSTANDARD = LVCMOS33 ;
NET "RS232_DCE_TXD" LOC = "F15"  |IOSTANDARD = LVCMOS33 |DRIVE = 8 |SLEW = SLOW ;
#
##############################################################################
# Video Output Port (VGA)
##############################################################################

NET "VGA_B<0>"      LOC = "C7"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_B<1>"      LOC = "D7"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_B<2>"      LOC = "B9"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_B<3>"      LOC = "C9"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_G<0>"      LOC = "C5"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_G<1>"      LOC = "D5"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_G<2>"      LOC = "C6"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_G<3>"      LOC = "D6"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_R<0>"      LOC = "A3"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_R<1>"      LOC = "B3"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_R<2>"      LOC = "B8"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_R<3>"      LOC = "C8"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_HSYNC"     LOC = "C11"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_VSYNC"     LOC = "B11"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
